/* 
* 子组件article.vue 的样式文件
* author: ch3cknull (ch3cknull@outlook.com)
*/

.content {
  width: 100%;
  padding: 0.8rem 0.5rem 0 1rem;
  border: 1px solid hsl(0, 0%, 91%);
  border-radius: 0.8rem;
  background: #fafafa;
  overflow: hidden;
  box-sizing: border-box;
  margin: 2rem 0;
  @apply dark:bg-gray-700 dark:text-gray-300 shadow-sm;
}
.content-info {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 0;
}
.content-detail {
  width: 100%;
  padding: 0 1rem 0.7rem 0.3rem;
  box-sizing: border-box;
  white-space: pre-line;
  word-break: break-all;
  font-size: 1.4rem;
  line-height: 2rem;
  border-radius: 0.5rem;
  @apply dark:bg-gray-700 dark:text-gray-300
}
.content-info ul {
  list-style: none;
  padding: 0;
  margin: 0.3rem 0 1rem 0;
}

.content-info ul li {
  display: inline-block;
  padding: 0 1.5rem 0 0;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  margin: 0;
  padding: 0 2rem 0 0;
}
