/* 
* 主页面样式
* author: ch3cknull (ch3cknull@outlook.com)
*/

* {
  @apply box-border;
}

a {
  @apply text-blue-500 no-underline;
}

html, body {
  @apply m-0 p-0 h-full text-gray-700;
  font-size: 10px;
  @apply dark:bg-gray-600 bg-gray-100 font-sans;
}

ul {
  @apply list-none;
}

button {
  @apply outline-none;
}

#app {
  @apply dark:bg-gray-600 w-full min-h-full;
}

.body-content {
  @apply m-0 p-0 w-full h-full overflow-hidden;
  @apply bg-gray-100 dark:bg-gray-600;
}

.index-container {
  @apply dark:bg-gray-600 h-full w-full overflow-hidden;
  @apply lg:mx-auto xl:w-5/6 2xl:w-4/5 max-w-screen-2xl;
}

.content-left {
  @apply mx-auto p-6 py-8 w-full;
  @apply md:w-4/5 lg:float-left lg:w-3/5;
  @apply dark:bg-gray-600;
}

.content-right {
  @apply w-full pb-6 px-6 mx-auto;
  @apply lg:float-left lg:py-8 md:w-4/5 lg:w-2/5;
  @apply dark:bg-gray-600;
}

.right-item {
  @apply shadow-md bg-gray-50 mb-8 rounded-lg;
  @apply dark:bg-gray-700 dark:text-gray-300;
}

.right-top-description {
  @apply px-6 py-2 text-2xl block;
}

.right-top-description p {
  @apply mt-4;
}

.main-container {
  background-color: #fafafa;
  @apply p-0 rounded-lg overflow-hidden w-full;
}

.text-container {
  @apply w-full p-2 overflow-hidden;
}

.text-header {
  @apply w-full dark:bg-gray-700;
  @apply text-2xl;
}

.text-header ul {
  @apply py-2 m-0;
}

.text-header ul li {
  @apply list-none pb-4 p-2 inline-block text-xl;
  @apply md:px-4 py-0 lg:text-xl;
}

.text-header ul li:last-child {
  @apply float-right pr-4;
}

.text-contianer textarea {
  height: 28rem;
  background-color: #fafafa;
  @apply resize-none break-words whitespace-pre-wrap;
  @apply m-0 outline-none w-full px-4 py-2;
  @apply text-gray-600 text-2xl leading-relaxed;
  @apply dark:bg-gray-700 dark:text-gray-300;
}

.text-status {
  grid-template-columns: 45% 55%;
  @apply overflow-hidden w-full text-left inline-grid;
  @apply py-2 px-6 m-0 text-xl;
  @apply dark:text-gray-200 dark:bg-gray-700;
}

.text-status div:last-child {
  @apply text-right;
}

.button {
  line-height: 1.6rem;
  transition: 0.22s;
  @apply px-4 py-2 rounded-lg flex justify-center;
  @apply text-white border border-white;
}

#copy {
  transform: translateY(1.5px);
}

.button:disabled {
  @apply cursor-not-allowed bg-gray-300 text-gray-100;
}

.text-button {
  @apply px-6 py-2;
}

.submit-ready {
  @apply bg-blue-500;
}

.submit-ready:hover {
  @apply bg-white border-blue-500 text-blue-500
}

.submit-pedding {
  background-color: hsl(207, 98%, 70%);
  transform: translateY(3px);
}

.select-panel {
  @apply overflow-hidden w-full text-2xl p-3 shadow-sm border;
  @apply rounded-md mt-8 bg-white leading-relaxed;
  @apply dark:bg-gray-700 dark:text-gray-300;
}

.report {
  background: hsl(86, 96%, 41%);
}

.description-title {
  @apply my-4 font-normal leading-tight text-3xl;
}

.description-value {
  @apply break-all my-1 leading-relaxed;
  @apply font-sans;
}

.el-dialog {
  width: 90%;
  max-width: 768px;
  @apply rounded-lg;
  @apply lg:w-1/2;
}

.el-dialog__header, .el-dialog__body, .el-dialog__title {
  @apply dark:bg-gray-700 dark:text-gray-300;
}

.el-dialog__title {
  @apply font-bold;
}

.el-dialog__body {
  @apply pb-4 p-0;
}

.el-input__inner {
  @apply overflow-ellipsis mx-auto w-full;
  @apply dark:bg-gray-700 dark:text-gray-300;
  line-height: 36px;
  height: 36px;
}

.marked {
  @apply font-normal bg-gray-100 text-red-500;
  @apply dark:bg-gray-700 dark:text-yellow-400;
}

.active-button {
  @apply absolute top-0 right-1 md:top-auto;
  @apply box-border w-16 h-16 md:bg-white text-center pt-3 pl-1 cursor-pointer; 
  @apply text-3xl md:rounded-2xl md:fixed md:bottom-40 md:right-10 lg:shadow-lg z-50;
  @apply md:hover:bg-gray-50 transition md:hover:shadow-inner; 
  @apply dark:bg-gray-600 dark:hover:bg-gray-800;
}