/* 
* 主页面样式
* author: ch3cknull (ch3cknull@outlook.com)
*/

* {
  @apply box-border;
}

a {
  text-decoration: none;
  color: #337ab7;
}

html, body {
  @apply m-0 p-0 h-full;
  font-size: 10px;
  color: #333;
  @apply dark:bg-gray-600 bg-gray-100 font-sans;
}

ul {
  list-style: none;
}

#app {
  @apply dark:bg-gray-600 w-full min-h-full;
}

.body-content {
  @apply m-0 p-0 w-full h-full overflow-hidden;
  @apply bg-gray-100 dark:bg-gray-600;
}

.index-container {
  @apply dark:bg-gray-600 h-full w-full overflow-hidden;
  @apply lg:mx-auto xl:w-5/6 2xl:w-4/5 max-w-screen-2xl;
}

.content-left {
  @apply mx-auto p-6 py-8 w-full;
  @apply md:w-4/5 lg:float-left lg:w-3/5;
  @apply dark:bg-gray-600;
}

.content-right {
  @apply w-full pb-6 px-6 mx-auto;
  @apply lg:float-left lg:py-8 md:w-4/5 lg:w-2/5;
  @apply dark:bg-gray-600;
}

.right-item {
  @apply shadow-md bg-gray-50 mb-8 rounded-lg;
  @apply dark:bg-gray-700 dark:text-gray-300;
}

.right-top-description {
  color: #333;
  @apply px-6 py-2 text-2xl block;
}

.right-top-description p {
  @apply mt-4;
}

.main-container {
  background-color: #fafafa;
  @apply p-0 rounded-lg overflow-hidden w-full;
}

.text-container {
  @apply w-full p-2 overflow-hidden;
}

.text-header {
  @apply w-full dark:bg-gray-700;
  @apply text-2xl;
}

.text-header ul {
  @apply py-2 m-0;
}

.text-header ul li {
  @apply list-none pb-4 p-2 inline-block text-xl;
  @apply md:px-4 py-0 lg:text-xl;
}

.text-header ul li:last-child {
  @apply float-right pr-4;
}

.text-contianer textarea {
  height: 28rem;
  background-color: #fafafa;
  @apply resize-none break-words whitespace-pre-wrap;
  @apply m-0 outline-none w-full px-4 py-2;
  @apply text-gray-600 text-2xl leading-relaxed;
  @apply dark:bg-gray-700 dark:text-gray-300;
}

.text-container textarea:window-inactive {
  display: none;
}

.text-status {
  grid-template-columns: 45% 55%;
  @apply overflow-hidden w-full text-left inline-grid;
  @apply py-2 px-6 m-0 text-xl;
  @apply dark:text-gray-200 dark:bg-gray-700;
}

.text-status div:last-child {
  @apply text-right;
}

.button {
  line-height: 1.6rem;
  transition: 0.3s;
  @apply px-4 py-2 rounded-lg flex justify-center;
  @apply text-white border border-white;
}

#copy {
  transform: translateY(2.5px);
}

.button:disabled {
  @apply cursor-not-allowed;
}

.text-button {
  @apply px-6 py-2;
}

.icon {
  /* transform: translateY(1px); */
  height: 1.60rem;
}

.submit-ready {
  background: hsl(207, 98%, 55%);
  transform: translateY(3px);
}

.submit-ready:hover {
  background: white;
  border: 1px solid hsl(207, 98%, 55%);
  color: hsl(207, 98%, 55%);
}

.submit-pedding {
  background-color: hsl(207, 98%, 70%);
  transform: translateY(3px);
}

.report {
  /* background-color: #595959; */
  background: hsl(86, 96%, 41%);
}

.report:disabled {
  background-color: hsl(0, 0%, 80%);
}

.description-title {
  @apply my-4 font-normal leading-tight;
  margin: 1rem 0;
  font-size: 24px;
}

.description-value {
  @apply break-all my-1;
  @apply font-sans;
}
