/* 
* 媒体查询内容 需要和同目录下 main.css 一同导入
* author: ch3cknull (ch3cknull@outlook.com)
*/


/* 适配移动端 */
@media screen and (max-width: 800px) {
  .content-left, .content-right{
    clear: both;
    width: 100%;
    margin: 0;
    min-width: 350px;
  }

  .text-header ul li {
    font-size: 1.25rem;
    padding: 0;
    padding: 0 0.65rem 0 1rem;
  }

  .text-status {
    font-size: 1.3rem;
  }

  .content-detail {
    font-size: 1.4rem;
    line-height: 2.0rem;
    word-break: break-all;
  }

}

@media screen and (max-width: 1000px) {

  .content-info ul {
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .content-info li {
    /* padding: 0.25rem 0.5rem; */
    font-size: 1.3rem;
    line-height: 2.0rem;
  }
}