.result-panel {
  min-width: 375px;
  @apply min-h-full w-full overflow-hidden text-2xl;
  @apply m-0 absolute py-8 text-gray-700 bg-gray-100;
  @apply dark:bg-gray-700;
}

.panel-body {
  width: 96%;
  @apply rounded-lg bg-white mx-auto p-2;
  @apply md:w-4/5 lg:w-3/5 sm:px-8 mx-auto;
  @apply dark:bg-gray-600;
}

.result-title {
  @apply mb-6 font-bold dark:text-gray-200;
}

.result-title h3 {
  @apply text-center my-8 text-4xl;
}

.result-head {
  @apply m-4 ml-8 dark:text-gray-200;
}

.result-head-item {
  @apply text-blue-400 font-bold leading-relaxed tracking-wider;
}

.result-body-title {
  @apply my-6 text-center text-2xl font-bold text-blue-500;
}

.result-body {
  line-height: 22px;
}

.result-article-content {
  @apply w-full mx-auto rounded-lg p-8 border;
  @apply break-all whitespace-pre-wrap;
  @apply dark:bg-gray-700 dark:text-gray-200;
  font-size: 15px;
}

.result-article-content p {
  @apply m-0;
}

#result-copy-container {
  @apply flex justify-center;
}

.result-copy-button {
  transition: 0.3s;
  @apply rounded-lg mb-4 text-white px-8 py-3 border;
  @apply bg-blue-400 text-white border-white;
  @apply hover:bg-white hover:text-blue-400 hover:border-blue-400;
}

.result-progress {
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
  @apply mb-8 overflow-hidden rounded-md h-8 bg-gray-100;
}

.result-body-info {
  @apply font-bold text-center my-20 text-2xl;
  @apply dark:text-gray-300 tracking-wider;
}

.result-progress-bar {
  @apply h-8 text-center text-white float-left;
}

.result-progress-bar-success {
  background-color: #5cb85c;
}

.result-progress-bar-warning {
  background-color: #f0ad4e;
}

.result-progress-bar-danger {
  background-color: #d9534f;
}